<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.healthandbeauty" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Activity.SplashSceen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.FaceActivity"/>
        <activity android:name=".Activity.Ace"/>

        <activity android:name=".Activity.SkinActivity"/>
        <activity android:name=".Activity.HairActivity"/>
        <activity android:name=".Activity.Soft"/>

        <activity android:name=".Activity.Goodskin"/>

        <activity android:name=".Activity.YogaActivity"/>
        <activity android:name=".Activity.HealthtipActivity"/>
        <activity android:name=".Activity.Health1"/>
        <activity android:name=".Activity.Favourite"/>
        <activity android:name=".Activity.Fav_deatail"/>
        <activity android:name=".Activity.Yogadetail"/>

    </application>


</manifest>
